<div class="banner">
  <div class="container">
    <h1>Partage tes objets avec tes voisins !</h1>
    <p>Pourquoi acheter un objet qu’on n’utilisera qu’une fois quand nos voisins peuvent nous le prêter ?</p>
    <%= link_to "Chercher un objet", items_path, class:"btn btn-black" %>
  </div>
</div>

<%# <div class="container">
  <div class="row">
    <div class="col">
      <div class="home-message">
        <h1>Une plateforme pour partager nos objets entre voisins</h1>
        <p>Pourquoi acheter un objet qu’on n’utilisera qu’une fois quand nos voisins peuvent nous le prêter ?</p>
      </div>
    </div>
  </div>
</div> %>



<div class="home-steps">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
          <h1>Je prête</h1>
          <p>J’ajoute les objets que je propose de prêter</p>
      </div>

      <div class="col-12 col-sm-12 col-md-6">
        <%= image_tag("grenier-concept.png") %>
      </div>

      <div class="col-12 col-sm-12 col-md-3">
          <h1>J'emprunte</h1>
          <p>Je recherche un objet parmi ceux disponibles autour de chez moi</p>
      </div>

    </div>
  </div>
</div>
