<div data-controller="filter" class="container">
  <div class="row">

    <div>
      <h1>Mes groupes</h1>
      <% @mygroups.each do |group| %>
       <p class="tag">
       <%= group.name %>
       </p>
      <% end %>
    </div>


    <div>
      <%= render "items/search_form" %>
        <div class="container mt-3">
          <h1>Tous les objets disponibles</h1>
          <br>
          <div class="row">
            <%= render "items/index" %>
          </div>
      </div>
    </div>
  </div>
</div>
