.btn {
  padding: 4px 24px;
  border-radius: 4px;
  font-weight: lighter;
  font-size: 16px;
  transition: opacity 0.3s ease;
  margin: 5px;
}

.btn-black {
  color: white;
  background-color: black;
  transition: none;
  border: 1px solid black;
}

.btn-black:hover {
  color: #f18940;
  background-color: black;
  transition: none;
}

.btn-orange {
  color: #f18940;
  border: 1px solid #f18940;
}

.btn-orange:hover {
  color: white;
  background-color: #f18940;
}

.btn-blue {
  color: #219ebc;
  border: 1px solid #219ebc;
}

.btn-blue:hover {
  color: white;
  background-color: #219ebc;
}
